body {
    margin: 0;
    display: grid;
    grid-template-rows: 100px 1fr 35px;
}

#header {
    grid-row: 1;
    border-bottom: 2px solid black;
    margin: 0;
    background-color: lightsteelblue;
}

#banner {
    display: flex;
    justify-content: space-between;
    height: 150px;
    border-bottom: 2px solid black;
    background-color: red;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.navItem:link, .navItem:visited {
    font-size: 1.6em;
    align-self: center;
    text-decoration: none;
    color: black;
}

.navItem:hover {
    font-size: 1.8em;
    text-decoration: none;
    color: darkred;
}

#main {
    grid-row: 2;
    background-color: lightgray;
}

#footer {
    grid-row: 3;
    border-top: 2px solid black;
    background-color: lightsteelblue;
}

#logo {
    display: inline-block;
    width: 150px;
    height: 150px;
}

#title h1, #title h2 {
    text-align: center;
}

#title h2 {
    color: black;
}

h1, h2 {
    color: darkred;
}

.blackText, p {
    color: black;
    font-family: "Helvetica Neue", Arial;
}

#languages {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#englishButton, #dutchButton {
    display: block;
    align-self: center;
    margin-right: 10px;
    width: 140px;
    height: 40px;
}

p {
    font-size: 1.2em;
}

