#firstBlock {
    display: flex;
}

#firstBlock div {
    display: block;
    width: 75%;
    margin: 0 15px 0 15px;
}

#firstBlock img {
    display: block;
    width: 20%;
    height: 15%;
    align-self: center;
    margin: 15px 15px 0 15px;
}

#contactInfo {
    margin-left: 15px;
}